folium              # To remove eventually
geopandas
kaleido             # Unnecessary for the main workflow
loguru
openpyxl
optuna              # Unnecessary for the main workflow
PyYAML
rasterio
rasterstats
scikit-image
tqdm