folium              # To remove eventually
geopandas
kaleido             # Unnecessary for the main workflow
loguru
matplotlib          # Unnecessary for the main workflow
openpyxl
optuna              # Unnecessary for the main workflow
PyYAML
rasterio
rasterstats         # Unnecessary for the main workflow
scikit-image        # Unnecessary for the main workflow
scikit-learn        # Unnecessary for the main workflow
tqdm